@import url(styles/alertaBatimento.css);
@import url(styles/menuHamburguer.css);
@import url(styles/informacoes.css);

:root{
  --cor-de-fundo: #f7f7f7;
  --cor-da-fonte: #333;
 
  --fonte-principal: "Poppins";
  --fonte-secundaria: "Josefin Sans";
}

body {
  margin: 0;
  padding: 0;
  background: var(--cor-de-fundo);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

h1.titulo{
  margin-top: 10%;
  margin-bottom: 5%;
  width: 100%;
  font-weight: 550;
  font-family: var(--fonte-principal);
}

h1, h2 {
  color: var(--cor-da-fonte);
  text-align: center;
}

.filters {
  text-align: center;
  margin: 20px 0;
}

.filter-btn {
  margin: 0 5px;
  padding: 10px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--fonte-secundaria);
}

.filter-btn:hover {
  background-color: #1565c0;
}


